.container {
  position: relative;
  width: 1320px;
  height: auto;

  display: flex;
}

.cart_page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page_router {
    font-family: Jost;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  .shopping_title_frame {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    .container {
      flex-direction: column;
      align-items: center;

      strong {
        margin-top: 40px;
        color: rgba(4, 30, 66, 1);

        font-family: Jost;
        font-style: Medium;
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
      }

      p {
        margin-top: 60px;
        margin-bottom: 9px;
        color: rgba(0, 0, 0, 1);

        font-family: Jost;
        font-style: Medium;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
      }

      .process_box {
        position: relative;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .color_div {
          position: relative;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 424px;
          height: 6px;

          display: flex;
          flex-direction: row;

          .yellow_div {
            width: 50%;
            height: 6px;

            background: rgba(245, 195, 75, 1);
          }

          .gray_div {
            width: 50%;
            height: 6px;
            background: #f3f5f6;
          }
        }

        img {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 48%;
        }

        .white_div {
        }
      }
    }
  }

  .cart_box_frame {
    position: relative;
    margin-top: 28px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    .container {
      flex-direction: row;
      justify-content: space-between;

      .cart_product {
        position: relative;
        width: 870px;
        height: auto;

        .cart_name {
          padding: 23px;
          position: relative;
          width: auto;
          height: auto;

          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          border-radius: 6px 6px 0px 0px;
          background: rgba(243, 245, 246, 1);

          p {
            color: rgba(4, 30, 66, 1);

            font-family: Jost;
            font-style: Medium;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
          }
        }

        .cart_object {
          position: relative;
          padding: 29px 0 30px 27px;
          width: 100%;
          height: auto;
          box-sizing: border-box;

          display: flex;
          flex-direction: row;
          border: 1px solid #f3f5f6;

          .product_img_title {
            width: 112px;
            height: auto;

            display: flex;
            flex-direction: row;

            img {
              padding: 10px 9px;
              width: 93px;
              height: 100px;
              box-sizing: border-box;
            }
          }

          .product_title {
            position: relative;
            margin-left: 28px;
            width: 192px;
            height: auto;

            display: flex;
            flex-direction: column;

            p {
              width: 100%;
              height: auto;
              color: rgba(4, 30, 66, 1);

              font-family: Jost;
              font-style: Regular;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
            }

            span {
              color: rgba(4, 30, 66, 1);

              font-family: Jost;
              font-style: Regular;
              font-size: 14px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0%;
              text-align: left;
            }
          }

          .price_cart {
            margin-left: 17px;

            color: rgba(4, 30, 66, 1);

            font-family: Jost;
            font-style: Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
          }

          .number_box {
            margin-left: 70px;
            position: relative;
            padding: 6px;
            width: 102px;
            height: 42px;

            display: flex;
            flex-direction: row;
            align-items: center;

            box-sizing: border-box;
            border: 1px solid rgba(234, 234, 234, 1);
            border-radius: 60px;
            background: rgba(255, 255, 255, 1);

            .minus_box {
              position: relative;
              width: 35px;
              height: 30px;

              display: flex;
              align-items: center;
              justify-content: center;

              div {
                width: 1px;
                height: 12px;
                transform: rotate(-90deg);
                background: rgba(4, 30, 66, 1);
              }
            }

            .minus_box:active {
              border-radius: 30px;
              background: rgba(243, 245, 246, 1);
            }

            p {
              margin: 0px 15px;

              display: flex;
              align-items: center;

              color: rgba(4, 30, 66, 1);

              font-family: Jost;
              font-style: Regular;
              font-size: 15px;
              font-weight: 400;
              line-height: 22px;
            }

            .plus_box {
              position: relative;
              width: 35px;
              height: 30px;

              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;

              .horizontal_line {
                width: 1px;
                height: 12px;
                transform: rotate(-90deg);
                background: rgba(4, 30, 66, 1);
              }

              .vertical_line {
                position: absolute;
                width: 1px;
                height: 12px;
                background: rgba(4, 30, 66, 1);
              }
            }

            .plus_box:active {
              border-radius: 30px;
              background: rgba(243, 245, 246, 1);
            }
          }

          .remove_cart_box {
            margin-left: 103px;

            img {
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .cart_total_right {
        position: relative;
        padding: 30px 28px;
        width: 422px;
        height: 418px;

        border: 1px solid #f3f5f6;
        border-radius: 6px;
        box-sizing: border-box;

        .cart_total_title {
          margin-bottom: 20px;
          width: 100%;
          height: auto;

          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Medium;
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
        }

        .items_price_box {
          position: relative;
          width: 100%;
          height: auto;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid #f3f5f6;

          .price_box_left {
            margin-bottom: 7px;
            width: 128px;
            height: auto;

            display: flex;
            flex-direction: column;

            p {
              color: rgba(4, 30, 66, 1);

              font-family: Jost;
              font-style: Regular;
              font-size: 16px;
              font-weight: 400;
              line-height: 35px;
            }
          }

          .price_box_right {
            width: auto;
            height: auto;

            display: flex;
            flex-direction: column;

            p {
              font-family: Jost;
              font-style: Regular;
              font-size: 16px;
              font-weight: 400;
              line-height: 35px;
              letter-spacing: 0%;
              text-align: right;
            }
          }
        }

        .total_end {
          margin-top: 7px;
          position: relative;
          width: 100%;
          height: auto;

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          strong {
            color: rgba(4, 30, 66, 1);

            font-family: Jost;
            font-style: Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 35px;
          }
        }

        .proceed_button_box {
          width: 100%;
          height: auto;
          margin-top: 50px;
          padding: 15px;

          box-sizing: border-box;
          border: 1px solid rgba(245, 195, 75, 1);
          border-radius: 6px;
          box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
          background: rgba(245, 195, 75, 1);

          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }

  .coupon_button_frame {
    position: relative;
    margin-top: 28px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    .container {
      flex-direction: row;
      align-items: center;

      .coupon_box {
        position: relative;
        padding: 17px 18px;
        width: auto;
        height: auto;

        display: flex;
        flex-direction: row;
        border: 1px dashed rgba(0, 0, 0, 1);

        p {
          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Regular;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
        }

        strong {
          margin-left: 136px;
          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
          text-decoration-line: underline;
        }
      }

      .continue_button {
        padding: 15px 35px;
        margin-left: 165px;

        box-sizing: border-box;
        border: 2px solid rgba(245, 195, 75, 1);
        border-radius: 6px;

        box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);

        p {
          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .update_cart_button {
        padding: 16px 35px;
        margin-left: 8px;

        box-sizing: border-box;
        border: 1px solid rgba(245, 195, 75, 1);
        border-radius: 6px;
        box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
        background: rgba(245, 195, 75, 1);

        p {
          color: rgba(4, 30, 66, 1);

          font-family: Jost;
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }
}
